
<div class="container">
  <header class="header">
    <h1>Payment Form</h1>
  </header>
  <div class="form-container">
    <!-- Left Side: Input Fields -->
    <div class="form">
      <div class="form-group">
        <label for="receiverName">Receiver Name</label>
        <input 
          id="receiverName" 
          (input)="onNameChange($event)" 
          placeholder="Enter Receiver Name" 
        />
      </div>

      <div class="form-group">
        <label for="paymentDate">Payment Date</label>
        <input 
          id="paymentDate" 
          type="date" 
          (input)="onDateChange($event)"
        />
      </div>

      <div class="form-group">
        <label for="amount">Amount</label>
        <input 
          id="amount" 
          (input)="onAmountChange($event)" 
          placeholder="Enter Amount"
        />
      </div>

      <div class="form-group">
        <label>Hight</label>
        <input 
          (input)="onHightChange($event)" 
          placeholder="Enter Hight"
        />
      </div>

      <div class="form-group">
        <label>Miles</label>
        <input 
          (input)="onMilesChange($event)" 
          placeholder="Enter Miles"
        />
      </div>
    </div>

    <!-- Right Side: Labels with Validated Inputs -->
    <div class="output">
      <h2>Payment Details</h2>
      <p><strong>Receiver Name:</strong> {{ receiverName |titlecase }}</p>
      <p><strong>Payment Date:</strong> {{ paymentDate | date:'MMMM d, y'  }}</p>
      <p><strong>Amount:</strong> {{ amount | currency:'JPY' }}</p>
      <p><strong>Hight:</strong> {{ hight | number:'1.1-3' }}</p>
      <!-- <p><strong>Kilometeres:</strong> {{ miles | convert }}</p>
        -->
        <!-- <p><strong>Kilometeres:</strong> {{ miles | convert:'km' }}</p> -->
        <!-- <p><strong>Kilometeres:</strong> {{ miles | convert:'m' }}</p> -->
        <p *ngIf="(miles | convert : 'km') > 10">
          <strong>Kilometeres:</strong> {{ miles | convert:'km' | number : '1.0-2' }}
        </p>
    </div>
  </div>
</div>
